<div  style='width:100%; text-align:center; margin:auto;'>
<table style='display:inline-block;'>
	<tr>
	<% for(var i = 0; i < currentLeaders.length; i++){ %>
		<td class='current-leader' data-id='<%=currentLeaders[i].User.id %>' >
			<div class='index'><%=(i+1) %></div>
			<div style='background-image:url("<%=currentLeaders[i].User.featured_image %>");' class='pic'></div><br/>
			<div class='large'>
			<table style='width:100%;'>
				<tr>
				<td style='vertical-align: top;text-align:right;'><img src="img/ticket-white.png" style='vertical-align:top;' /></td>
				<td style='text-align: left; font-size: 13px; vertical-align: top; padding-top: 2px;'><%=currentLeaders[i].User.number_of_tickets ? currentLeaders[i].User.number_of_tickets : 0 %></td>
				</tr>
			</table>
			</div>
			<br/>
			<div class='large'>
			<table  style='width:100%;'>
				<tr>
				<td style='vertical-align: top;text-align:right;'><img src="img/king-white.png" style='vertical-align:top;'  /></td>
				<td style='text-align: left; font-size: 13px; vertical-align: top; padding-top: 2px;'><%=currentLeaders[i].User.number_of_bars_attended ? currentLeaders[i].User.number_of_bars_attended : 0 %></td>
				</tr>
			</table>
			</div>
		</td>
	<% } %>
	</tr>
</table>
<br/><br/>
</div>
<div style='text-align:center;' style='width:80%;margin:auto;' class='weekly-promo' >
	<div class='weekly-prize-block' >
		WEEKLY PRIZE
	</div>
	<div class='weekly-prize-block-text'>
	Reedem tickets to enter weekly promotion
	</div>
</div>
