<div  style='width:100%; text-align:center; margin:auto;'>
<table style='width:100%;'>
	<tr>
	<% for(var i = 0; i < trips.length; i++){ %>
		<td class='trip' data-id='<%=trips[i].Trip.id %>' >
			
			<div style='background-image:url("<%=trips[i].Trip.featured_image %>");' class='pic'>
			<% if(trips[i].Trip.qualify) { %>
				<img src='img/award.png' class='award' />
			<% } %>
			</div><br/>
			<div class='name'><%=trips[i].Trip.name.toUpperCase() %></div>
			<div class='message'><%=trips[i].Trip.redeam_message %></div>
		</td>
	<% } %>
	</tr>
</table>
<?div>