 <div>
 <table style='width:100%;'>
    <tr>
        <td style='text-align:center;padding:5px;padding-left:10px;'><div class='profile-image' style='width: 80px; height: 80px; margin-bottom: 0px; margin-top: 0px;' ></div>
        <br/>
        <div style='font-size:11px;white-space:nowrap;'>
            Tickets Earned
        </div>
        <div>
	        <table style='width:100%;'>
				<tr>
				<td style='vertical-align:middle;text-align:right;width:50%;'><img src='img/ticket.png' /></td>
				<td style='vertical-align:middle;text-align:left;width:50%;font-size:16px;'><span style='color:#F0FF2C; font-size:18px;vertical-align:top;'><%=number_of_tickets ? number_of_tickets : 0 %></span></td>
				</tr>
			</table>
        </div>
        <br/>
        <div style='font-size:11px;white-space:nowrap;'>
            Bars Attended
        </div>
        <div>
         <table style='width:100%;'>
			<tr>
			<td style='vertical-align:middle;text-align:right;width:50%;'><img src='img/kiki-visited.png' /></td>
			<td style='vertical-align:middle;text-align:left;width:50%;font-size:16px;'><span style='color:#F0FF2C; font-size:18px;vertical-align:top;'><%=number_of_bars_attended ? number_of_bars_attended : 0 %></span></td>
			</tr>
		</table>
        </div></td>
        <td style='vertical-align:top;padding:5px;'>
        	<h1 class='header current-top-leaders'>Current Top Leaders</h1>
        	<div class='profile-current-top-leaders'></div>
        </td>
    </tr>
</table>
<br/>
<div style='text-align:center;border-top:2px solid #00CFF4;'>
<h1 class='header'><span style='color:#00CFF4;'>YOUR PATH TO THE</span><br/><span style='font-weight: bold; font-size: 26px; display: block; margin-top: -7px;'>GRAND PRIZE</h1>
<div class='profile-trips'></div>
</div>
<br/>

<br/><br/>
<div style="text-align:center;">
    <img style="width: 90%; max-width: 350px;" class='share-icon'  src="img/share-footer.png">
</div>
<div style='display:none;'>
<form id='profile-form' onsubmit='return false;' >
    <input type="hidden" name="id" />
    <div data-role="fieldcontain">
        <input type="text" name="username" placeholder='Username (a.k.a your Kick It Alter Ego)' data-theme="b" class='text-icon-user'/>
    </div>
     <div data-role="fieldcontain">
        <input type="text" name="phone" placeholder="Phone" data-theme="b" class='text-icon-phone'/>
    </div>
    <div data-role="fieldcontain">
        <input type="text" name="email" placeholder="Email Address" data-theme="b" class='text-icon-email'/>
    </div>
    <div data-role="fieldcontain">
        <input type="text"  placeholder="Upload Profile Photo" readonly='true' data-theme="b"  id="featured_image_mask" class='text-icon-file' />
        <input type="file" name="featured_image"  id="featured_image" />
    </div>
    <br/>
    <div data-role="fieldcontain">
    	<span class='highlight'>PHONE CARRIER</span>
        <select name="phone_carrier_service"  class='text-icon-phone'>
	        <option value='' >None</option>
	        <option value='vtext.com' >Verizon</option>
	        <option value='message.alltel.com' >Alltel</option>
	        <option value='mms.att.net' >AT&T</option>
	        <option value='myboostmobile.com' >Boost Mobile</option>
	        <option value='mms.mycricket.com' >Cricket Communications</option>
	        <option value='messaging.nextel.com' >Nextel (now part of Sprint Nextel)</option>
	        <option value='messaging.sprintpcs.com' >Sprint (now Sprint Nextel)</option>
	        <option value='tmomail.net' >T-Mobile</option>
	        <option value='vmobl.com' >Virgin Mobile USA</option>
       </select>
       <div style='font-size:10px;'><span style='color:red;'>NOTE:</span> This info is only needed for sms text purposes.</div>
    	<br/><br/>
    </div>
    <div data-role="fieldcontain">
        <a class="btnSubmit" href="#" data-role="button" data-theme="a"  data-transition='slide' >SAVE PROFILE</a>
    </div>
</form>
</div>
</div>