<div class='social-sharing-overlay'>
<br/><br/>
<div class='description-large' style='color:#fff; font-size:25px; border-bottom:1px solid #999;margin-bottom:10px;padding-bottom:10px;' >CONGRADULATIONS!</div><br/>
<div class='large'>SHARE<span>AND EARN</span></div>
<img src='img/social_sharing_facebook.png' data-share='postToFaceBook' style='height:55px; width:55px; border-right:1px solid #999; padding:10px;' /><img src='img/social_sharing_twitter.png' data-share='postToTwitter' style='height:55px; width:55px; border-left:1px solid #999; padding:10px;' />
<div style='border-top:2px solid #999;width:130px;margin:auto;'></div>
<img src='img/social_sharing_google.png' data-share='postToGoogle' style='height:55px; width:55px; border-right:1px solid #999; padding:10px;' /><img src='img/social_sharing_camera.png' data-share='postToInstagram' style='height:55px; width:55px;  border-left:1px solid #999; padding:10px;' />
<br/><br/>
<div class='description-large'>The more you share, the more tickets you earn.</div><br/>
<div class='description-small'>Share Now by tapping Social Icons above.</div>
<br/>
<div style='font-size:16px; color:white;'>EARN:</div>
<div style='color:#F0FF2C;margin-top:3px;'>
<img src='img/ticket.png' style='vertical-align:middle;' />&nbsp;&nbsp;X&nbsp;&nbsp;<span style='font-size:18px; color:#F0FF2C;'>10</span>
</div>
</div>