<div style='padding:10px;' class='social_sharing' >
    <table>
        <tr>
            <td style='text-align:center;padding-right:10px;'><div class='profile-image' style='width: 70px; height: 70px; margin-bottom: 0px; margin-top: 0px;' ></div>
            <br/>
            <div style='font-size:11px;'>
                Tickets Earned
            </div>
            
            <div>
               <table style='width:100%;'>
                <tr>
                <td style='vertical-align:middle;text-align:right;width:50%;'><img src='img/ticket.png' /></td>
                <td style='vertical-align:middle;text-align:left;width:50%;font-size:16px;'><span style='color:#F0FF2C; font-size:18px;vertical-align:top;'><%=number_of_tickets ? number_of_tickets : 0 %></span></td>
                </tr>
            </table>
            </div>
            <br/>
            <div style='font-size:11px;'>
                Bars Attended
            </div>
            <div>
                 <table style='width:100%;'>
                <tr>
                <td style='vertical-align:middle;text-align:right;width:50%;'><img src='img/kiki-visited.png' /></td>
                <td style='vertical-align:middle;text-align:left;width:50%;font-size:16px;'><span style='color:#F0FF2C; font-size:18px;vertical-align:top;'><%=number_of_bars_attended ? number_of_bars_attended : 0 %></span></td>
                </tr>
            </table>
            </div></td>
            <td >
            <div style='font-size:23px;color:#00CFF4;'>
                SHARE <span style='color:#F0FF2C;'>AND EARN</span>
            </div>
            <br/>
            <table class='share-table' >
                <tr data-id='<%=id %>'  data-type='facebook' data-share='postToFaceBook' >
                    <td><img src='img/facebook-share.png' /></td>
                    <td>
                    <div>
                        Share on Facebook
                        where you’re Kicking It.<br/><br/>
                    </div></td>
                </tr>
                <tr data-id='<%=id %>'  data-type='twitter' data-share='postToTwitter'>
                    <td><img src='img/twitter-share.png' data-id='<%=id %>'  /></td>
                    <td>
                    <div>
                        Tweet How You’re
                        Kicking It.<br/><br/>
                    </div></td>
                </tr>
               <tr data-id='<%=id %>'  data-type='camera'  data-share='postToInstagram'>
                    <td><img src='img/camera-share.png' data-id='<%=id %>' /></td>
                    <td>
                    <div>
                       Post a Selfie How
                        You’re Kicking It.<br/><br/>
                    </div></td>
                </tr>
                <tr data-id='<%=id %>'  data-type='google' data-share='postToGoogle'>
                    <td><img src='img/google-share.png' data-id='<%=id %>'  /></td>
                    <td>
                    <div>
                        Tell Your Google besties
                        what you’re up to.<br/><br/>
                    </div></td>
                </tr>
               
            </table></td>
        </tr>
    </table>
    <br/>
    <br/>
    <div class='friends-section' style='display:none;'>
   <div style='font-size:20px;color:#00CFF4;border-bottom:3px solid #00CFF4;'>
        FRIENDS THAT KICK IT
    </div>
    <div style='height:auto;'>
        <div class='friends-list'></div>
    </div>
    <br/><br/>
    </div>
    <br/>
    <div style='text-align:center;'>
        <img src='img/share-footer.png' style='width: 90%; max-width: 350px;' />
    </div>
    <div style='display :none;'>
  
    </div>
</div>