<div style='text-align:center;width:100%;'>
<div style="background:url('<%=item.featured_image %>') !important; box-shadow:inset 0px 0px 10px #000; background-size:cover !important;width:100%;height:140px;"></div><br/>
<div style='font-size:30px !important;'><%=item.name %></div>
<div style='text-align: left; margin: auto; width: 90%; font-size: 14px;' ><%=item.terms %><br/><br/>
<div style='font-size:13px;'><%=$.mysqlToFormat(item['available_start_timestamp']) + ' - ' + $.mysqlToFormat(item['available_end_timestamp'])  %></div></div>
</div>
