 <div  class='current-leader'>
 <table style='width:80%;margin:auto;'>
    <tr>
        <td style='text-align:center;padding:5px;padding-left:10px;'><div style='background-image:url("<%=featured_image %>");' class='profile-image-single'></div><br/>
        <div class='name'><%=username.toUpperCase() %></div>
        <br/>
        <div style='font-size:11px;white-space:nowrap;'>
            Tickets Earned
        </div>
        <div>
	        <table style='width:100%;'>
				<tr>
				<td style='vertical-align:middle;text-align:right;width:50%;'><img src='img/ticket.png' /></td>
				<td style='vertical-align:middle;text-align:left;width:50%;font-size:16px;'><span style='color:#F0FF2C; font-size:18px;vertical-align:top;'><%=number_of_tickets ? number_of_tickets : 0 %></span></td>
				</tr>
			</table>
        </div>
        <br/>
        <div style='font-size:11px;white-space:nowrap;'>
            Bars Attended
        </div>
        <div>
         <table style='width:100%;'>
			<tr>
			<td style='vertical-align:middle;text-align:right;width:50%;'><img src='img/kiki-visited.png' /></td>
			<td style='vertical-align:middle;text-align:left;width:50%;font-size:16px;'><span style='color:#F0FF2C; font-size:18px;vertical-align:top;'><%=number_of_bars_attended ? number_of_bars_attended : 0 %></span></td>
			</tr>
		</table>
        </div>
    </tr>
</table>
</div>