<div class='avatar-chooser'>
<br/>
	<h2>Choose an avatar</h2>
	<% for(var i = 0; i < avatars.length; i++){ %>
		<div class='profile-image' data-image="<%=avatars[i].featured_image %>" style='width: 40px; height: 40px; margin-bottom: 0px; margin-top: 0px; background-image:url(<%=avatars[i].featured_image %>) !important;' ></div>
	<% } %>
	<br/><br/><br/>
	<a class="pic-your-own-photo avatar-action-btn" href="#" data-role="button" data-theme="a"  data-transition='slide' style='color:white;text-decoration:none;text-transform:uppercase;' >Pick from your library</a>
	<a class="take-your-own-photo avatar-action-btn" href="#" data-role="button" data-theme="a"  data-transition='slide' style='color:white;text-decoration:none;text-transform:uppercase;' >Take a picture</a>
</div>