<div style='text-align:center;'>
<!--<h2 style="font-size:16px !important;color:#E5F32D;" >Enter your message <div style='font-size:12px; color:#fff;'>(+2 tickets)</div></h2>
<textarea class='generic-message' style='text-align:center;height:100px;background-image:none !important;text-indent:0 !important;' ><%=message %></textarea>
<br/>-->

<%if(allowImage){%>
<h2 style="font-size:16px !important;color:#E5F32D;" >Share a photo with your post?<div style='font-size:12px; color:#fff;'>Earn 3 tickets for a post and 5 for a post with a picture</div></h2>
<div class='thumbnailholder'></div>
<div style='text-align:center;'>
<div>
<a class="upload-image upload-image-device" style='width:80%;margin:auto;display:inline-block;color:white;text-decoration:none;text-transform:uppercase;text-align:center;' href="javascript:void(0);" data-role="button" data-theme="a"  data-transition='slide' >PICTURE FROM LIBRARY</a>
</div>
<div>
<a class="upload-image upload-image-photo" style='width:80%;margin:auto;display:inline-block;color:white;text-decoration:none;text-transform:uppercase;text-align:center;' href="javascript:void(0);" data-role="button" data-theme="a"  data-transition='slide' >TAKE PICTURE</a>
</div>
</div>
<br/>
<%}%>
<div style='width:80%;margin:auto;'><%=instructions %></div>
<br/>
<a class="post-submit" style='width:45%;margin:auto;display:inline-block;color:white;text-decoration:none;text-transform:uppercase;' href="javascript:void(0);" data-role="button" data-theme="a"  data-transition='slide' >POST</a>
<a class="post-cancel" style='width:45%;margin:auto;display:inline-block;color:white;text-decoration:none;text-transform:uppercase;' href="javascript:void(0);" data-role="button" data-theme="a"  data-transition='slide' >CANCEL</a>
</div>