<div style='color:#333;'>
	
	<h3><%=User.username %></h3>
	<img src='<%=User.featured_image  %>' style='width:100px;' />
	<br/>
	<a href='javascript:void(0);' class='view-contributor-link' data-role='button' >VIEW</a>
</div>