<h1 class='header'>CUSTOMIZE YOUR PROFILE</h1>
<div style='text-align:center;'>
    <div class='profile-image' ></div>
    <div class='username' ></div>
</div>
<br/>
<form id='profile-form' onsubmit='return false;'>
    <input type="hidden" name="id" />
    <div data-role="fieldcontain">
        <input type="text" name="username" placeholder='Username (a.k.a your Kick It Alter Ego)' data-theme="b" class='text-icon-user'/>
    </div>
    <div data-role="fieldcontain">
        <input type="text" name="phone" placeholder="Phone" data-theme="b" class='text-icon-phone'/>
    </div>
    <div data-role="fieldcontain">
    	<div>PHONE CARRIER</div>
        <select name="phone_carrier_service" data-theme="b" class='text-icon-phone'>
	        <option value='' >None</option>
	        <option value='vtext.com' >Verizon</option>
	        <option value='message.alltel.com' >Alltel</option>
	        <option value='mms.att.net' >AT&T</option>
	        <option value='myboostmobile.com' >Boost Mobile</option>
	        <option value='mms.mycricket.com' >Cricket Communications</option>
	        <option value='messaging.nextel.com' >Nextel (now part of Sprint Nextel)</option>
	        <option value='messaging.sprintpcs.com' >Sprint (now Sprint Nextel)</option>
	        <option value='tmomail.net' >T-Mobile</option>
	        <option value='vmobl.com' >Virgin Mobile USA</option>
       </select>
       <div style='font-size:10px;'><span style='color:red;'>NOTE:</span> This info is only needed for sms text purposes.</div>
    <br/><br/>
    </div>
    <div data-role="fieldcontain">
        <input type="text" name="email" placeholder="Email Address" data-theme="b" class='text-icon-email'/>
    </div>
    <div data-role="fieldcontain">
        <input type="text"  placeholder="Upload Profile Photo" readonly='true' data-theme="b"  id="featured_image_mask" class='text-icon-file' />
        <input type="file" name="featured_image"  id="featured_image" />
    </div>
    <div data-role="fieldcontain">
        <a class="btnSubmit" href="#" data-role="button" data-theme="a"  data-transition='slide' >SAVE PROFILE</a>
    </div>
</form>