<div class='social-sharing-overlay'>
<br/><br/><br/><br/>
<div class='description-large' style='color:#F0FF2C; font-size:25px; margin-bottom:10px;padding-bottom:10px;' >CONGRATULATIONS!</div><br/>
<div class='description-small'>You have successfully purchased the Special at the <%=name %>. You have earned <%=numberTickets %> tickets - to the Sweepstakes. </div>
<br/>
<% if(isFirst){ %>
<div class='description-small'>Please verfiy your personal information below.</div>
<br/>
<form id='force-profile-form' onsubmit='return false;' >
    <input type="hidden" name="id" />
    <div data-role="fieldcontain">
        <input type="text" name="username" placeholder='Username (a.k.a your Kick It Alter Ego)' data-theme="b" class='text-icon-user'/>
    </div>
     <div data-role="fieldcontain">
        <input type="text" name="phone" placeholder="Phone" data-theme="b" class='text-icon-phone'/>
    </div>
    <div data-role="fieldcontain">
        <input type="text" name="email" placeholder="Email Address" data-theme="b" class='text-icon-email'/>
    </div>
</form>
<%} %>
<br/>
<% if(isFirst){ %>
<a data-theme="b" data-role="button" href="#" class='save-profile'  role="button">Save Profile</a>
<%} %>
<div style="text-align:center;cursor:pointer;" class='sharing-ct'>
   <img src='img/facebook_icon_default.png' class='share-icon'  data-id='<%=id %>'  data-type='facebook' data-share='postToFaceBook' />
   &nbsp;&nbsp;<img src='img/twitter_icon_default.png' class='share-icon'  data-id='<%=id %>'  data-type='twitter' data-share='postToTwitter'  />        
</div>
<br/>
Post with <%=hashtag to be entered for the Weekly Drawing.
<hr/><br/>
<a data-theme="b" data-role="button" href="#" class='back-to-bar'  role="button">Back to <%=name %></a>
<a data-theme="b" data-role="button" href="#" class='go-to-profile'   role="button">My Profile</a>
<br/><br/><br/>
</div>