<div style='text-align:center; padding:10px;'>
<form id='purchase-special-form' onsubmit='return false;'>
    <div class='page-header'>Purchase Special</div>
 	<div data-role="fieldcontain">
    	<label>1) Scan the QR code for this special.</label>
        <a class="btnScanSpecial pure-button" href="#" style="color:#FFF; text-decoration:none; font-size:16px;" >READY TO SCAN</a>
    </div>
    <br/><br/><br/>
    <div data-role="fieldcontain">
    	<label>2) Take and optional picture of you and the special.</label>
        <input type="text"  placeholder="Special Photo" readonly='true' data-theme="b"  id="featured_image_mask" class='text-icon-file' />
        <input type="file" name="featured_image"  id="featured_image" />
    </div>
    <br/>
    <div data-role="fieldcontain">
        <a class="btnSubmitSpecial pure-button" href="#" style="color:#FFF; text-decoration:none; font-size:16px;" >SUBMIT SPECIAL</a>
    </div>
</form>
</div>