<div style='text-align:center;'>
<br/>
<span class='highlight'>SOCIAL CONNECTIONS</span>
<table class='network-box'>
	<tr>
	<td>
	<div class='title title-facebook'>
		<img src='img/facebook_icon_default.png' />
	</div>
	</td>
	<td>
	<div class='status facebook'></div>
	</td>
	<!--<tr>
	<td>
	<div class='title title-google'>
		<img src='img/google-share.png' />
	</div>
	</td>
	<td>
	<div class='status google'></div>
	</td>
	</tr>-->
	<tr>
	<td>
	<div class='title title-twitter'><img src='img/twitter_icon_default.png' /></div>
	</td>
	<td>
	<div class='status twitter'></div>
	</td>
	</tr> 
	<!--<tr>
	<td>
	<div class='title title-instagram'><img src='img/camera-share.png' /></div>
	</td>
	<td>
	<div class='status instagram'></div>
	</td>
	</tr>-->
</table>
<br/>
<span class='highlight'>LOCATION SERVICES</span>
<div class='status location-services' style='margin: auto; width: 190px;' ></div>
<br/><br/>
<span class='highlight'>PERSONAL INFORMATION</span>
<form id='profile-form' onsubmit='return false;' >
<br/>
	<div class='profile-image' style='width: 80px; height: 80px; margin-bottom: 0px; margin-top: 0px;' ></div>
<br/>
    <input type="hidden" name="id" />
    <div data-role="fieldcontain">
        <input type="text" name="username" placeholder='Username (a.k.a your Kick It Alter Ego)' data-theme="b" class='text-icon-user'/>
    </div>
     <div data-role="fieldcontain">
        <input type="text" name="phone" placeholder="Phone" data-theme="b" class='text-icon-phone'/>
    </div>
    <div data-role="fieldcontain">
        <input type="text" name="email" placeholder="Email Address" data-theme="b" class='text-icon-email'/>
    </div>
     <div data-role="fieldcontain">
        <input type="password" name="password" placeholder="Password" data-theme="b" class='text-icon-password'/>
    </div>
     <input type="hidden" name="featured_image"  class="featured_image" />
    <br/>
    <div data-role="fieldcontain">
    	<span class='highlight'>PHONE CARRIER</span>
        <select name="phone_carrier_service"  >
	        <option value='' >None</option>
	        <option value='vtext.com' >Verizon</option>
	        <option value='message.alltel.com' >Alltel</option>
	        <option value='mms.att.net' >AT&T</option>
	        <option value='myboostmobile.com' >Boost Mobile</option>
	        <option value='mms.mycricket.com' >Cricket Communications</option>
	        <option value='messaging.nextel.com' >Nextel (now part of Sprint Nextel)</option>
	        <option value='messaging.sprintpcs.com' >Sprint (now Sprint Nextel)</option>
	        <option value='tmomail.net' >T-Mobile</option>
	        <option value='vmobl.com' >Virgin Mobile USA</option>
       </select>
       <div style='font-size:10px;'><span style='color:red;'>NOTE:</span> This info is only needed for sms text purposes.</div>
    	
    </div>
    <br/><br/>
    <div data-role="fieldcontain">
        <a class="btnSubmit" href="#" data-role="button" data-theme="a"  data-transition='slide' >SAVE PROFILE</a>
    </div>
    <div style='margin-bottom:150px;'></div>
</form>
</div>