<div style='padding:10px;' class='social_sharing' >
    <table>
        <tr>
            <td style='text-align:center;padding-right:10px;'><div class='profile-image' style='width: 70px; height: 70px; margin-bottom: 0px; margin-top: 0px;' ></div>
            <br/>
            <div style='font-size:11px;white-space:nowrap;'>
                Tickets Earned
            </div>
            
            <div>
               <table style='width:100%;'>
                <tr>
                <td style='vertical-align:middle;text-align:right;width:50%;'><img src='img/ticket.png' /></td>
                <td style='vertical-align:middle;text-align:left;width:50%;font-size:16px;'><span style='color:#F0FF2C; font-size:18px;vertical-align:top;'><%=number_of_tickets ? number_of_tickets : 0 %></span></td>
                </tr>
            </table>
            </div>
            <br/>
            <div style='font-size:11px;white-space:nowrap;'>
                Bars Attended
            </div>
            <div>
                 <table style='width:100%;'>
                <tr>
                <td style='vertical-align:middle;text-align:right;width:50%;'><img src='img/kiki-visited.png' /></td>
                <td style='vertical-align:middle;text-align:left;width:50%;font-size:16px;'><span style='color:#F0FF2C; font-size:18px;vertical-align:top;'><%=number_of_bars_attended ? number_of_bars_attended : 0 %></span></td>
                </tr>
            </table>
            </div></td>
            <td >
            <div style='font-size:21px;color:#00CFF4;white-space:nowrap;text-align:center;'>
                SHARE <span style='color:#F0FF2C;'>AND EARN</span>
            </div>
            <br/>
            <div class='share-table' style='text-align:center;'>
           
            <img src='img/facebook_icon_default.png'  data-id='<%=id %>'  data-type='facebook' data-share='postToFaceBook' />
            &nbsp;&nbsp;<img src='img/twitter_icon_default.png' data-id='<%=id %>'  data-type='twitter' data-share='postToTwitter'  />
            </div>
            <br/>
            <div style='width:80%;margin:auto;text-align:center;'>
            <%=instructions %>
            </div>
           <!-- <table class='share-table' >
                <tr data-id='<%=id %>'  data-type='facebook' data-share='postToFaceBook' >
                    <td><img src='img/facebook-share.png' /></td>
                    <td>
                    <div>
                        Share on Facebook
                        where you’re Kicking It.<br/><br/>
                    </div></td>
                </tr>
                <tr data-id='<%=id %>'  data-type='twitter' data-share='postToTwitter'>
                    <td><img src='img/twitter-share.png' data-id='<%=id %>'  /></td>
                    <td>
                    <div>
                        Tweet How You’re
                        Kicking It.<br/><br/>
                    </div></td>
                </tr>
                <tr data-id='<%=id %>'  data-type='camera'  data-share='postToInstagram'>
                    <td><img src='img/camera-share.png' data-id='<%=id %>' /></td>
                    <td>
                    <div>
                      Post a Instagram How You’re
                        Kicking It.<br/><br/>
                    </div></td>
                </tr>
               <tr data-id='<%=id %>'  data-type='google' data-share='postToGoogle'>
                    <td><img src='img/google-share.png' data-id='<%=id %>'  /></td>
                    <td>
                    <div>
                        Tell Your Google besties
                        what you’re up to.<br/><br/>
                    </div></td>
                </tr> 
               
            </table>--></td>
        </tr>
    </table>
   <div style='display:none;'>
<form id='profile-form' onsubmit='return false;' >
    <input type="hidden" name="id" />
    <div data-role="fieldcontain">
        <input type="text" name="username" placeholder='Username (a.k.a your Kick It Alter Ego)' data-theme="b" class='text-icon-user'/>
    </div>
     <div data-role="fieldcontain">
        <input type="text" name="phone" placeholder="Phone" data-theme="b" class='text-icon-phone'/>
    </div>
    <div data-role="fieldcontain">
        <input type="text" name="email" placeholder="Email Address" data-theme="b" class='text-icon-email'/>
    </div>
    <div data-role="fieldcontain">
        <input type="text" name="featured_image"  id="featured_image" />
    </div>
    <br/>
    <div data-role="fieldcontain">
    	<span class='highlight'>PHONE CARRIER</span>
        <select name="phone_carrier_service"  class='text-icon-phone'>
	        <option value='' >None</option>
	        <option value='vtext.com' >Verizon</option>
	        <option value='message.alltel.com' >Alltel</option>
	        <option value='mms.att.net' >AT&T</option>
	        <option value='myboostmobile.com' >Boost Mobile</option>
	        <option value='mms.mycricket.com' >Cricket Communications</option>
	        <option value='messaging.nextel.com' >Nextel (now part of Sprint Nextel)</option>
	        <option value='messaging.sprintpcs.com' >Sprint (now Sprint Nextel)</option>
	        <option value='tmomail.net' >T-Mobile</option>
	        <option value='vmobl.com' >Virgin Mobile USA</option>
       </select>
       <div style='font-size:10px;'><span style='color:red;'>NOTE:</span> This info is only needed for sms text purposes.</div>
    	<br/><br/>
    </div>
    <div data-role="fieldcontain">
        <a class="btnSubmit" href="#" data-role="button" data-theme="a"  data-transition='slide' >SAVE PROFILE</a>
    </div>
</form>
</div>
</div>
<div class='slider'></div> 