<div style='text-align:center;width:100%;'>
<img src="<%=Sweepstake.featured_image %>" style="width:100%;display:inline-block;box-shadow:inset 0 0 10px #000;" />
<div style='font-size:20px !important; '><%=Sweepstake.title %></div>
<!--<div style='font-size:15px !important;color:#666;'>TICKET PRICE: <%=Sweepstake.ticket_price %></div>-->
<br/>
<div style='text-align: center; margin: auto; width: 90%; font-size: 13px;' ><%=Sweepstake.terms %>
<br/><br/>
<a id="submitSweepstakes" href="javascript:void(0);"  data-role="button" data-theme="a" class='confirm-sweepstake' style='color:white; text-decoration:none;'  >Enter Weekly Drawing</a>      
<br/><br/>
<div style='width:80%;margin:auto;'><%=instructions %></div>
<br/>
<div class='share-table' style='text-align:center;'>     
   <img src='img/facebook_icon_default.png' data-share='postToFaceBook' />
   &nbsp;&nbsp;<img src='img/twitter_icon_default.png' data-share='postToTwitter'  />
</div>
<br/>
</div>