<div style='text-align:center;width:100%;'>
<div style="background:url('<%=item.featured_image %>') !important; box-shadow:inset 0px 0px 10px #000; background-size:cover !important;width:100%;height:200px;"></div><br/>
<div style='font-size:30px !important;'><%=item.name %></div>
<div style='text-align: left; margin: auto; width: 90%; font-size: 14px;' ><%=item.terms %><br/><br/>
<% if(typeof(winner) == 'undefined' || winner == null) { %>
<div style='font-size:13px;'><%=$.mysqlToFormat(item['available_start_timestamp']) + ' - ' + $.mysqlToFormat(item['available_end_timestamp'])  %></div>
<% }else{ %>
	<table style='width:100%;'>
		<tr>
			<td style='width:75px;'>
				<img src='<%=winner.user.User.featured_image %>' style='width:75px;' />
			</td>
			<td>
				<h2 style='text-align:left; color:green;' >WINNER: <%=winner.user.User.username %></h2>
				<b><%=$.mysqlToDate(item.winner_timestamp) %></b>
			</td>
		</tr>
		<tr>
			<td colspan='2'>
				<img src='<%=item.winner_featured_image %>' style='width:90%;' />
			</td>
		</tr>
		<tr>
			<td colspan='2' >
				<p><%=item.winner_caption %></p>
			</td>
		</tr>
	</table>
<% } %>
</div>
</div>
