<script>
	if ( typeof ($) == 'undefined')
		window.location = 'index.html';
</script>
<div id="incorrect_version" data-role="page" >
    <div data-role="content" align='center'>
    	<img src='img/logofull.png' style='width:60%; margin:auto;'/>
    	<h2 style='color:#F0FF2D !important;'></h2>
    </div>
</div>