<script>
	if ( typeof ($) == 'undefined')
		window.location = 'index.html';
</script>
<div id="challanges" data-role="page" >
    <div data-role="content">
       
    </div>
    <div class='slider'></div>  
</div>