#faq {
	background: #2F2F2F;
	
}
#faq .ui-btn-icon-left:after, 
#faq .ui-btn-icon-right:after, 
#faq .ui-btn-icon-top:after, 
#faq .ui-btn-icon-bottom:after, 
#faq .ui-btn-icon-notext:after,
#faq .ui-icon-carat-r:after {
    background-color: transparent !important;
    background-image:none !important;
}
#faq .ui-content{
	padding:20px;
}
#faq [data-role="header"] {
}
#faq [data-role="contibutor-details"] {
}
#faq [data-role="contributor-challanges"] {
}
#faq [data-role="contributor-promotions"] {
}
#faqsingle {
	background: #2F2F2F;
}
#faqsingle [data-role="content"] {
	text-align: center;
}
#faqsingle .faq-question {
	font-size: 22px;
	color: #fff;
	margin-top: 20px;
	margin-bottom: 20px;
}
#faqsingle .faq-answer {
	font-size: 18px;
	color: #666;
}