#promotions [data-role="header"], #promotion-deails [data-role="header"] {

}
#promotions {
	
}
#promotions .promotion-description {
	font-size: 13px;
	color: #666;
	text-shadow: none !important;
}
#promotions .img, .promotion-details-container .contributor-img {
}
#promotion-deails{
	background-color:#000;
}
#promotion-deails .ui-content {
	padding: 0px;
}
.promotion-details-container {
	color: #fff;
	font-size: 14px;
}
#contributor .promotion-details-container {
	padding: 0px;
	background-image: url(../img/background_slice_reverse.png);
	background-repeat: repeat-x;
	background-position: bottom;
}

.promotion-details-container .contributor-promotional {
	display: block;
	width: 90%;
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
	font-size: 15px;
	letter-spacing: 1px;
	background: #DD312F;
	margin-top: 10px;
	border-radius: 25px 0 0 25px;
	padding-left: 70px;
	padding-right: 10px;
	background-image: url(../img/puff_star.png);
	background-repeat: no-repeat;
	background-position: 10px center;
}

.promotion-details-container .contributor-challange {
	width: 60px;
	border: 2px solid #FFBC33;
	border-radius: 50%;
	text-align: center;
	padding-top: 12px;
	padding-bottom: 12px;
	display: inline-block;
	margin: 5px;
	color: white;
	font-weight: bold;
	font-size: 15px;
}

.promotion-details-container .background {
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 0 -100px 70px #000 inset;
	height: 250px;
	width: 100%;
}

.promotion-details-container .contributor-img {
	background-repeat: no-repeat;
	background-size: cover;
	height: 55px;
	width: 55px;
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
	margin-top: 20px;
}

.promotion-details-container .name {
	color: white;
	font-size: 35px;
	margin-top: -60px;
	text-transform: uppercase;
}

.promotion-details-container .description {
	color: #666;
	font-size: 13px;
	padding-right: 10px;
}

.promotion-details-container .section-heading {
	color: white;
	font-size: 17px;
	text-transform: uppercase;
}