#dashboard {
}
#dashboard .ui-content {
	padding: 0px;
}
#dashboard [data-role="footer"] {
	color: #666 !important;
	background: black !important;
}
#dashboard [data-role="profile-browser"] {
	text-align: center;
}
#dashboard [data-role="profile-browser"] .profile-browser-container {
	display: inline-block;
	width: auto;
	margin-top: 20px;
}
#dashboard [data-role="profile-browser"] .profile-browser-container .profile-image {
	float: left;
	vertical-align: middle;
	box-shadow: 0 0 10px #000;
}
#dashboard [data-role="profile-browser"] .profile-browser-container .profile-name {
	color: white;
	float: left;
	font-size: 25px;
	padding-left: 15px;
	padding-top: 20px;
	text-align: left;
	text-shadow: 1px 1px 5px #000 !important;
}
#dashboard [data-role="profile-browser"] .profile-browser-container .profile-name div {
	text-shadow: 1px 1px 5px #000 !important;
}

#dashboard [data-role="awards-browser"] .awards-browser-container {
	margin-bottom: 20px;
}

#dashboard [data-role="awards-browser"] .awards-browser-container table {
	width: 100%;
}
#dashboard [data-role="awards-browser"] .awards-browser-container td {
	color: white;
	font-size: 14px;
	text-align: center;
	text-shadow: 1px 1px 5px #000 !important;
	vertical-align: top;
}
#dashboard [data-role="awards-browser"] .awards-browser-container td span {
	font-size: 35px;
	text-shadow: 1px 1px 5px #000 !important;
}
#dashboard [data-role="challanges-browser"] {
	cursor: pointer;
	display: block;
	text-align: center;
}
#dashboard [data-role="challanges-browser"] h2 {
	font-size: 20px !important;
	left: 20px;
	position: relative;
	text-align: left;
	width: 105px;
	z-index: 20000;
	text-shadow: 1px 1px #000;
}
#dashboard [data-role="challanges-browser"]:active h2 {
	color: #642C84 !important;
}
#dashboard [data-role="challanges-browser"] .challanges-browser-container {
	display: inline-block;
	width: 350px;
	margin-top: 20px;
}
#dashboard [data-role="challanges-browser"] .challanges-browser-container img {
	margin-left: -73px;
	margin-top: -100px;
}
#dashboard [data-role="banner-slider"] {
	clear: both;
	text-shadow: 1px 1px #000;
}
#dashboard [data-role="banner-slider"] h2 {
	text-align: left;
	padding-left: 20px;
	font-size: 30px;
}
#dashboard [data-role="banner-slider"] .banner-ads {
	width: 100%;
	height: 150px;
	overflow: hidden;
}
#dashboard [data-role="banner-slider"] .banner-ads img {
	width: 100%;
	height: auto;
}