<script>
	if ( typeof ($) == 'undefined')
		window.location = 'index.html';
</script>
<div id="faq" data-role="page" >
    <div data-role="content">
        <ul data-role="listview" data-theme="b"></ul>
    </div>
</div>