<script>
	if ( typeof ($) == 'undefined')
		window.location = 'index.html';
</script>
<div id="register" data-role="page" >
    <div data-role="content">
    	<div style='width: 90%; margin: auto; padding-bottom: 10px ! important;'>
        <a class="login-toggle-btn" href="#" data-role="button" data-theme="b"  data-transition='slide' style="" >I already have an account</a>
       <form id='login-form' style='display:none; background: none repeat scroll 0% 0% rgb(34, 34, 34); padding: 10px 10px 20px;' onsubmit='return false;'>
            <div data-role="fieldcontain">
                <input type="text" name="username" placeholder='Username' data-theme="b" class='text-icon-user' />
            </div>
            <div data-role="fieldcontain">
                <input type="password" name="password" placeholder='Password'  data-theme="b" class='text-icon-password'/>
            </div>
            <div class="ui-body">
                <fieldset class="ui-grid-a">
                    <a class="loginBtnSubmit" href="#" data-role="button" data-theme="a"  data-transition='slide' >Sign In</a>

                </fieldset>
            </div>
            <div style='text-align:center;'>
               <a id="btnPasswordReset" href="javascript:window.App.loadView('passwordreset');" class='autentiction-link' >Having Trouble?</a>
        	</div>
        </form>
            
        </div>  
        <div class="page-header">
            <span class='highlight' >Get ready to kick it</span>
        </div>
        <form id='register-form' onsubmit='return false;'>
            <input type="hidden" name="id" />
            <div data-role="fieldcontain">
                <input type="text" name="username" placeholder='Username (a.k.a your Kick It Alter Ego)' data-theme="b" class='text-icon-user'/>
            </div>
            <div data-role="fieldcontain">
                <input type="password" name="password" placeholder="Password" data-theme="b" class='text-icon-password'/>
            </div>
            <div data-role="fieldcontain">
                <input type="text" name="email" placeholder="Email Adress" data-theme="b" class='text-icon-email'/>
            </div>
            <div data-role="fieldcontain">
                <input type="text"  placeholder="Upload Profile Photo" readonly='true' data-theme="b"  class="featured_image_mask text-icon-file" />
                <input type="file" name="featured_image"  class="featured_image" />
            </div>
            <br/>
            <div data-role="fieldcontain">
                <div id='terms-conditions-container'></div>
            </div>
            <div class="ui-field-contain">
                <label for='terms'>I agree to the terms</label>
                <input type="checkbox" name="terms" id="terms" data-theme="b">
            </div>
            <br/>
            <div class="ui-body">
                <fieldset class="ui-grid-a">
                    <a class="btnSubmit" href="#" data-role="button" data-theme="b"  data-transition='slide' style="display:none;transition: none !important;" >Create Account</a>
                    
                </fieldset>
            </div>
        </form>
        <div style='text-align:center;'>
            <a href="javascript:window.App.loadView('login');" class='autentiction-link'  data-transition='slide' >Sign in</a>&nbsp;&nbsp; <a id="btnPasswordReset" href="javascript:window.App.loadView('passwordreset');" class='autentiction-link' >Having Trouble?</a>
        </div>
        <br/><br/>
    </div>
</div>