#profile {
	text-align: center;
}
#profile [data-role="header"] {

}

#profile .weekly-prize-block {
	border-radius: 5px;
	color: #00cff4;
	display: inline-block;
	font-size: 11px;
	height: auto;
	padding: 5px;
	vertical-align: middle;
	width: 30%;
	border: 1px solid #00cff4;
}

#profile .weekly-prize-block-text {
	vertical-align: middle;
	display: inline-block;
	 width: 50%;
	height: auto;
	color: #F0FF2D;
	font-size: 11px;
}

#profile .award {
	left: -25px;
	position: relative;
	top: -12px;
	width: 50px;
}
#profile .current-leader {
	text-align: center;
	vertical-align: top;
	white-space: nowrap;
}
#profile .current-leader .pic {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    display: inline-block;
    height: 30px;
    vertical-align: top;
    width: 30px;
}
#profile .current-leader .large {
	color: #ccc;
	font-size: 20px;
	font-weight: bold;
	display: inline-block;
}
#profile .current-leader .name {
	color: #ccc;
	display: block;
	font-size: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
	text-align: center;
	white-space: nowrap;
	width: 100%;
}
#profile .current-leader .index {
	color: #F0FF2C;
	font-size: 25px;
	font-weight: bold;
	display: inline-block;
}

#profile .trip {
	text-align: center;
	vertical-align: top;
	width: 33%;
	padding: 5px;
}
#profile .trip .pic {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 55px;
	vertical-align: middle;
	width: 100%;
}
#profile .trip .name {
	color: #fff;
	display: block;
	font-size: 14px;
	padding-bottom: 5px;
	padding-top: 0px;
	text-align: center;
	width: 100%;
}
#profile .trip .message {
	color: #F0FF2C;
	font-size: 11px;
}
#profile .current-leader .large img {
	width: 30px;
}