#login {

}
#login [data-role="header"] {

}

#login a[data-social-type] {
	border-radius: 0 !important;
	height: 65px !important;
	padding: 0 !important;
	width: 255px !important;
	max-width: 255px !important;
	background-color: transparent !important;
	background-repeat: no-repeat !important;
	background-size: 100% !important;
	display: block;
}

#login a[data-social-type="kickit"] {
	background-color: #404040 !important;
	background-image: url("../img/kiki-king-logo.png") !important;
	background-position: 5px center !important;
	background-size: auto 40px !important;
	color: white !important;
	font-size: 11px !important;
	font-weight: normal !important;
	height: 32px !important;
	max-width: 275px !important;
	padding-top: 13px !important;
	text-align: left !important;
	text-decoration: none !important;
	text-indent: 40px !important;
	vertical-align: top;
	width: 259px !important;
}

#login a[data-social-type="facebook"] {
	background-image: url("../img/facebook-singin.png") !important;
	display: block !important;
	height: 50px !important;
	max-width: 275px !important;
	width: 259px !important;
}

#login [data-social-type="facebook"] input {
	background: white !important;
	border: 1px solid #617AAC !important;
	padding: 0px !important;
	padding-left: 5px !important;
	padding-right: 5px !important;
	text-align: left !important;
	width: 100% !important;
	margin: auto !important;
	text-indent: 0px !important;
}

#login [data-social-type="facebook"] .btnSubmit {
	background: #617AAC !important;
}

#login [data-social-type="facebook"] .login-title {
	color: #1E2D4C !important;
	font-size: 16px !important;
	border-bottom: 1px solid #617AAC !important;
	text-align: left !important;
	margin: auto !important;
	margin-bottom: 10px !important;
	padding-left: 10px !important;
	padding-right: 10px !important;
}

#login a[data-social-type="googleplus"] {
	background-image: url("../img/google-singin.png") !important;
	height: 44px !important;
	width: 120px !important;
}

#login [data-social-type="googleplus"] input {
	background: white !important;
	border: 1px solid #999 !important;
	padding: 10px !important;
	font-size: 17px;
	text-align: left !important;
	width: 100% !important;
	margin: auto !important;
	text-indent: 0px !important;
	margin-bottom: 0px !important;
}

#login [data-social-type="googleplus"] input:focus {
	border: 1px solid #4A8BF5 !important;
}
#login [data-social-type="googleplus"] .ui-field-contain {
	margin: 0px 0px -8px !important;
	padding: 0 !important;
	width: 80% !important;
	margin-left: auto !important;
	margin-right: auto !important;
}
#login [data-social-type="googleplus"] .btnSubmit {
	background: #4A8BF5 !important;
	border-radius: 5px;
}

#login [data-social-type="googleplus"] .login-title {
	color: #1E2D4C !important;
	font-size: 16px !important;
	text-align: center !important;
	width: 80% !important;
	margin: auto !important;
	margin-bottom: 10px !important;
	background: #fff !important;
	padding-top: 10px;
}
#login a[data-social-type="twitter"] {
	background-image: url("../img/twitter-singin.png") !important;
	height: 45px !important;
	width: 134px !important;
}

#login [data-social-type="twitter"] input {
	background: white !important;
	border: 1px solid #999 !important;
	padding: 10px !important;
	font-size: 17px;
	text-align: left !important;
	width: 100% !important;
	margin: auto !important;
	text-indent: 0px !important;
	margin-bottom: 0px !important;
}

#login [data-social-type="twitter"] input:focus {
	border: 1px solid #4A8BF5 !important;
}
#login [data-social-type="twitter"] .ui-field-contain {
	margin: 0px 0px -8px !important;
	padding: 0 !important;
	width: 80% !important;
	margin-left: auto !important;
	margin-right: auto !important;
}
#login [data-social-type="twitter"] .btnSubmit {
	background: #4A8BF5 !important;
	border-radius: 5px;
}

#login [data-social-type="twitter"] .login-title {
	color: #1E2D4C !important;
	font-size: 16px !important;
	text-align: center !important;
	width: 80% !important;
	margin: auto !important;
	margin-bottom: 10px !important;
	background: #fff !important;
	padding-top: 10px;
}
