#rewards {
	background: none repeat scroll 0 0 #000;
}
.trip-name {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
	font-size: 20px;
	font-weight: normal !important;
	height: 30px;
	position: relative;
	text-indent: 10px;
	text-shadow: 1px 1px #000 !important;
	top: 110px;
	width: 100%;
}

.reward-details-container {

	color: #fff;
	font-size: 14px;
}
#reward {
	background-color: #000;
}

#reward .ui-content {
	padding: 0px;
}
#reward .reward-details-container {

}
#rewards .ui-listview, #rewards .ui-listview li {
	transition: none;
}
.reward-details-container .background {
	background-repeat: no-repeat;
	background-size: 100% auto;
	box-shadow: 0 -140px 70px #000 inset;
	height: 250px;
	width: 100%;
}
.reward-details-container .name {
	color: white;
	font-size: 25px;
	margin-top: -60px;
	text-transform: uppercase;
}

.reward-details-container .description {
	color: #666;
	font-size: 14px;
	padding-right: 10px;
}

.reward-details-container .section-heading {
	color: white;
	font-size: 17px;
	text-transform: uppercase;
}