#contributor {
	background: #000;
}
.slider {
	overflow: hidden !important;
}
.ui-btn-icon-left:after, .ui-btn-icon-right:after, .ui-btn-icon-top:after, .ui-btn-icon-bottom:after, .ui-btn-icon-notext:after {
	background-color: transparent !important;
}
.preview-special-picture {
	width: 70%;
	margin: auto;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100px;
}
#contributor .ui-content {
	padding: 0px;
}
#contributor [data-role="footer"] {
}
#contributor [data-role="contibutor-details"] {
}
#contributor [data-role="contributor-challanges"] {
}
#contributor [data-role="contributor-promotions"] {
}
.contributor-container {
	color: #333;
	font-size: 14px;
}
#contributor .contributor-container {
    background: none repeat scroll 0 0 transparent;
    padding-bottom: 0 !important;
}

.contributor-container .contributor-promotional {
	display: block;
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
	font-size: 15px;
	letter-spacing: 1px;
	background: #DD312F;
	margin-top: 10px;
	border-radius: 25px 0 0 25px;
	padding-left: 70px;
	background-image: url(../img/puff_star.png);
	background-repeat: no-repeat;
	background-position: 10px center;
}

.contributor-container .contributor-challange {
	width: 60px;
	border: 2px solid #FFBC33;
	border-radius: 50%;
	text-align: center;
	padding-top: 12px;
	padding-bottom: 12px;
	display: inline-block;
	margin: 5px;
	color: white;
	font-weight: bold;
	font-size: 15px;
}

.contributor-container .background {
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 0 -70px 70px #000 inset;
	height: 150px;
	width: 100%;
}

.contributor-container .name {
	color: white;
	font-size: 20px;
	margin-top: -60px;
}

.contributor-container .address {
	color: white;
	font-size: 13px;
	text-transform: uppercase;
}

.contributor-container .heading {
	color: white;
	font-size: 16px;
	text-transform: uppercase;
}
.banner-ads{
	width:100%;
	overflow:hidden;
	height:140px;
	margin:0px;
}
.banner-ads li > div {
	width: 100%;
	height:140px;
	background-size:cover;
	background-repeat: no-repeat;
	display:inline-block;
	background-position: center;
}
.purchase-special-button-row {
	background-repeat: no-repeat;
	height: 75px;
	background-position: center;
	background-color: black;
	background-size: 100% auto;
	text-align: center;
}
.special-text {
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.45) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.45))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.45) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.45) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.45) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.45) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
	font-size: 14px;
	font-weight: normal !important;
	position: relative;
	text-indent: 10px;
	text-shadow: 1px 1px #000 !important;
	top: 120px;
	width: 100%;
	text-align: center;
	color: #fff;
}
