#challanges {
}
.challange-details-container {
	color: #fff;
	font-size: 14px;
}
#challange {
	background: #000;
}
#challange .ui-content {
	padding: 0px;
}
#challange .challange-details-container {
	background-color: #000 !important;
}
#challanges .ui-listview, #challanges .ui-listview li {
	transition: none;
}
.challange-details-container .background {
	background-repeat: no-repeat;
	background-size: 100% auto;
	box-shadow: 0 -140px 70px #000 inset;
	height: 250px;
	width: 100%;
}
.challange-details-container .name {
	color: white;
	font-size: 25px;
	margin-top: -60px;
	text-transform: uppercase;
}

.challange-details-container .description {
	color: #666;
	font-size: 14px;
	padding-right: 10px;
}

.challange-details-container .section-heading {
	color: white;
	font-size: 17px;
	text-transform: uppercase;
}
.social_sharing td{
	vertical-align: top;
	font-size:12px;
	padding-right:5px;
}
