* {
	font-family: 'Montserrat', sans-serif;
	text-shadow: none !important;
	font-weight: normal !important;
	line-height: normal !important;
	text-rendering: optimizeLegibility !important;
}

.profile-marker{
	background-position:center;
	background-color: #fff;
	background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid #00cff4;
    border-radius: 50%;
    display: inline-block;
    height: 40px;
    width: 40px;
    position:absolute;
    cursor:pointer;
    box-shadow:0px 0px 10px #000;
}
    
#challanges .bx-wrapper .bx-viewport {
    border-color: #2F2F2F !important;
}
.social-sharing-overlay .ui-btn {
    display: inline-block !important;
    padding: 10px !important;
    width:80% !important;
}
.slider{
	z-index:20000 !important;
}
.social-sharing-overlay a {
	color: white !important;
	font-size: 16px !important;
	text-decoration: none !important;
}

*, *:focus, *:hover, *:active {
	outline: 0 !important;
}
.bx-wrapper .bx-viewport {
    background: transparent !important;
    border: 0px solid black !important;
    border-left:0px !important;
    box-shadow: none !important;
    left: 0 !important;
}
.switch-button-label.on {
	color: #05cff4 !important;
}

.switch-button-label {
	cursor: pointer !important;
	float: left !important;
	font-size: 12pt !important;
}

.title > img {
	height: 30px;
	padding-top: 7px;
}
.network-box td {
	background: none repeat scroll 0 0 #333;
}
.network-box {
	background: #2F2F2F;
	width: 90%;
	margin: auto;
	text-align: left;
	margin-bottom: 20px;
}

.network-box .title {
	color: #fff;
	font-size: 16px;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-right: 0 !important;
	padding-top: 0px;
	width: auto;
}

.network-box .status {
	padding: 5px;
}

.ui-content > div {
	padding-bottom: 50px !important;
}
.menu-options {
}
.tips-slider {
	width: 100%;
	height: 100%;
	text-align: center;
}
.tips-slider img {
	width: 100%;
	height: auto;
}
.copywrite {
	display: inline;
	color: #fff;
	font-size: 10px;
}
.overlay {
	overflow: scroll !important;
	-webkit-overflow-scrolling: touch !important;
	top: 75px !important;
	position: absolute !important;
}
.error-border{
	border:1px solid red !important;
}
[data-role="content"] {
	height: auto;
}
.ui-mobile .ui-page {
	position: static !important;
}
.ui-content {
	padding-bottom: 100px !important;
	overflow: hidden !important;
	overflow-y: scroll !important;
	-webkit-overflow-scrolling: touch !important;
}
.social-sharing-overlay {
	text-align: center;
	padding:10px;
	margin-top: -30px;
	overflow: hidden !important;
	overflow-y: scroll !important;
	-webkit-overflow-scrolling: touch !important;
}
.social-sharing-overlay .large {
	font-size: 50px;
	color: #00CFF4;
	text-transform: uppercase;
}
.social-sharing-overlay .large span {
	color: #f0ff2c;
	display: block;
	font-size: 30px;
	margin-top: -10px;
}
.social-sharing-overlay .description-large {
	color: #ccc;
	font-size: 24px;
	text-transform: uppercase;
}
.social-sharing-overlay .description-small {
	color: #ccc;
	font-size: 14px;
}
.trip-header {
	background: rgb(125,126,125); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
	color: white;
	padding: 5px;
}
a.ui-btn.ui-link.menu-selected-item[data-key], a.ui-btn.ui-link[data-key]:active {
	background: #555 !important;
}
.plainoverlay {
	background: none repeat scroll 0 0 #000 !important;
	opacity: 1 !important;
}
a {
	font-size: 12px;
}
.close {
	width: 100%;
	height: 40px;
	background-image: url(../img/close.png);
	background-repeat: no-repeat;
	background-position: top right;
	margin-top: 30px;
	height: 40px;
	position: fixed !important;
	right: 0 !important;
	top: 0 !important;
}
#jPanelMenu-menu {
	background: none repeat scroll 0 0 #444 !important;
	border-radius: 0;
	margin-top: 0 !important;
	overflow-y: auto !important;
	padding-top: 20px;
}
.jPanelMenu-panel {
	overflow: auto;
}
#jPanelMenu-menu .ui-btn {
	text-align: left;
	font-weight: normal;
	padding-left: 10px;
}
input, select, textarea {
	background: url("../img/default-text.png") no-repeat scroll left center #404040 !important;
	border: medium none !important;
	border-radius: 0 !important;
	color: #fff !important;
	font-size: 11px !important;
	min-width: 30px;
	padding-bottom: 10px !important;
	padding-top: 10px !important;
	text-indent: 40px !important;
	width: 80%;
	margin-bottom: 10px;
}
#featured_image_mask {
	cursor: pointer;
}
#featured_image {
	display: none;
}
::-webkit-input-placeholder {
	color: #999 !important;
}

:-moz-placeholder {/* Firefox 18- */
	color: #999 !important;
}

::-moz-placeholder {/* Firefox 19+ */
	color: #999 !important;
}

:-ms-input-placeholder {
	color: #999 !important;
}
.text-icon-email {
	background-image: url(../img/text-icon-email.png) !important;
}
.text-icon-file {
	background-image: url(../img/text-icon-file.png) !important;
}
.text-icon-user {
	background-image: url(../img/text-icon-user.png) !important;
}
.text-icon-password {
	background-image: url(../img/text-icon-password.png) !important;
}
.text-icon-phone {
	background-image: url(../img/text-icon-phone.png) !important;
}

input[type='checkbox'], input[type='radio'] {
	min-width: 30px !important;
	width: 30px !important;
	text-indent: none !important;
	background: none !important;
}

body {
	background: #2F2F2F !important;
	color: #fff !important;
	margin: 0px;
	font-family: "Droid Sans", sans-serif !important;
	font-weight: normal !important;
	line-height: normal !important;
	overflow: hidden;
}
.complete {
	color: green;
	text-transform: uppercase;
	font-size: 20px;
}
.ui-title {
	text-indent: -50000px;
}
.rating .star {
	background-repeat: no-repeat;
	background-image: url(../img/red_star.png);
	background-size: 20px auto;
	background-color: transparent;
	width: 20px;
	height: 30px;
	background-position: center;
	display: inline-block;
	margin-right: 5px;
	margin-top: 5px;
}

.rating .star.gray {
	background-image: url(../img/gray_star.png);
}
.autentiction-link {
	font-size: 13px;
}
.content-header {
	color: white !important;
	text-transform: uppercase !important;
	font-size: 13px !important;
}
.ui-content .page-header {
	background: none repeat scroll 0 0 transparent;
	color: #f0ff2c !important;
	font-size: 18px;
	margin-top: 0;
	padding-bottom: 10px !important;
	padding-top: 10px;
	text-align: center;
	text-transform: uppercase;
}
span.highlight {
	color: #f0ff2c;
	margin-top: 0;
	padding-bottom: 10px;
	padding-top: 10px;
}
.profile-image {
	background-color: #fff;
	background-image: url("../img/default-avatar.png");
	background-repeat: no-repeat;
	background-size: cover;
	border: 5px solid #00cff4;
	border-radius: 50%;
	display: inline-block;
	height: 120px;
	margin-bottom: 20px;
	margin-top: 10px;
	width: 120px;
}
.menu-options {
	box-shadow: 0 0 10px #000;
	left: -500px;
	margin-top: 25px;
	position: fixed;
	top: 0;
	width: 200px;
	z-index: 1000000;
}
.menu-options a.ui-link.ui-btn {
	background-color: transparent !important;
	box-shadow: none !important;
}

#home {
	text-align: center;
}

.slash-logo {
	width: 90%;
	max-width: 200px;
	margin-top: 50px;
}

input, select, textarea, .ui-input-text, a, h1, h2, h3, h4, h5 {

}
h1.header {
	color: #f0ff2c;
}
h1 {
	color: #fff;
	font-size: 18px !important;
	font-weight: normal !important;
	text-shadow: none;
}
h2 {
	font-size: 16px !important;
	color: white;
	font-weight: normal;
	text-align: center;
	text-shadow: none;
	text-transform: uppercase;
}
[data-role="header"], [data-role="footer"] {
	background-color: #2A2A2A !important;
	border: none;
	padding-top: 45px !important;
	border-bottom: 3px solid #2BA2C6 !important;
	background-image: url(../img/logofull.png);
	background-repeat: no-repeat;
	background-position: center 10px;
	background-size: auto 70px;
	position: fixed;
	width: 100%;
	z-index: 20000;
	height: 40px;
}
[data-role="footer"] {
	position: fixed;
	background-image: none !important;
	background: #2F2F2F !important;
	bottom: -20px;
	padding-top: 0px !important;
	text-align: center;
	width: 100%;
	border: none;
	border-top: none;
	white-space: nowrap;
}
.mask {
	background: rgba(0,0,0,.6);
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: 2147483647 !important;
}