#register {
}
#register [data-role="header"] {
}
#terms-conditions-container {
	font-size: 11px !important;
	color: white;
}
#terms-conditions-container label {
	color: #666;
	font-size: 17px;
	text-transform: uppercase;
}
[for='terms'] {
    color: white;
    display: inline-block !important;
    font-size: 14px;
    padding-right: 5px;
    vertical-align: top;
    white-space: nowrap;
}

#register-form input[type="checkbox"], #register-form input[type="radio"] {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    display: inline-block;
    min-width: 30px !important;
    width: 30px !important;
}
.social-btn {
	background-color: transparent !important;
	background-repeat: no-repeat !important;
	background-position: left center !important;
	height: 25px !important;
	max-width: 220px !important;
	width: 80% !important;
	border-radius: 5px !important;
	padding-left: 55px !important;
	padding-right: 5px !important;
	display: inline-block !important;
	margin: 0px !important;
	font-size: 18px !important;
	letter-spacing:1px !important;
	text-align: left !important;
	margin:auto !important;
	margin-bottom:3px !important;
}
.facebook-login-btn {
	background-image: url(../img/facebook48.png) !important;
	background-color: #3A588F !important;
}

.kick-it-login-btn {
	background-image: url(../img/kickit48.png) !important;
	background-color: #404040 !important;
}
.gplus-login-btn {
	background-image: url(../img/googleplus48.png) !important;
	background-color: #C63323 !important;
}

.twitter-login-btn {
	background-image: url(../img/twitter48.png) !important;
	background-color: #ffffff !important;
	color: #333 !important;
}